shadja.sock
__pycache__
.vscode
migrations/
celerybeat-schedule


# For Ionic App
*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

App/.idea
App/.ionic
App/.sass-cache
App/.sourcemaps
App/.versions
App/.vscode
App/coverage
App/dist
App/node_modules
App/platforms
App/plugins
App/www

