<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <preview> New appointments available for you!</preview>
  <body class="bg-light">
    <div class="container">
      <div class="alert alert-info">
        New appointments available for you!
      </div>
      <hr>
      <div class="card">
        <div class="card-body">
          <div class="h4"><div class="text-center">560090</div></div>
          <div class="card">
            <div class="card-body">
              Center Name <span class="badge badge-pill badge-success">Free</span><br>
              Center Address, Block, District
              <table class="table table-striped thead-default">
                <tbody>
                  <tr>
                    <td>10-05-2021</td>
                    <td>45+</td>
                    <td>10:00AM-11:00AM 11:00AM-12:00PM</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <br>
          <div class="card">
            <div class="card-body">
              Center Name 2<span class="badge badge-pill badge-success">Free</span><br>
              Center Address, Block, District
              <table class="table table-striped thead-default">
                <tbody>
                  <tr>
                    <td>10-05-2021</td>
                    <td>45+</td>
                    <td>10:00AM-11:00AM 11:00AM-12:00PM</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-body">
          <div class="h4"><div class="text-center">560091</div></div>
          <div class="card">
            <div class="card-body">
              Center Name <span class="badge badge-pill badge-success">Free</span><br>
              Center Address, Block, District
              <table class="table table-striped thead-default">
                <tbody>
                  <tr>
                    <td>Col Data 1</td>
                    <td>45+</td>
                    <td>10:00AM-11:00AM 11:00AM-12:00PM</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="text-center"> ©2021, Shadja Devs | Questions? Email appointments@bookmyvaccine.app </div>
    </div>
  </body>
</html>
